<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="menu-item">
        Home
      </div>
      <div class="menu-item">
        Produce
      </div>
      <div class="menu-item">
        About us
      </div>
      <div class="menu-item">
        Career
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
